{% extends 'base.html' %}
{% block title %}Press N Pulse{% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><strong>Sceptique |</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fakenews">Out-Truth</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/summary">Summarizer</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/pressnpulse">Press-N-Pulse </a>
          </li>
      </ul>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary mx-2" data-toggle="modal" data-target="#login">
  Login
</button>

 <!-- Button trigger modal -->
 <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signup">
  Sign Up
</button>
  </nav>

  <!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Login">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Keep me logged in</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="Sign Up" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Sign Up">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="Password">Repeat Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create Account</button>
      </div>
    </div>
  </div>
</div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Sceptique</a></li>
      <li class="breadcrumb-item"><a href="/pressnpulse">Press N Pulse</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search using URL</li>
    </ol>
  </nav>

  <div class="container my-4">
    <form method="post" action="/usingurl">
      {% csrf_token %}
    <label for="url">Enter URL</label>
    <input type="text" class="form-control" id="url" placeholder="URL here" name="url" value={{x}}>
    <button type="submit" class="btn btn-primary my-4">Submit</button>
    </form>
</div>

<div class="container">{{result}}</div>
{% endblock body %}

{% block footerstyle %}style="position:absolute; bottom:0;"{% endblock footerstyle %} 